* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: center;
    background: rgb(26, 24, 24);
}

.list .item {
    margin: 10px 15px;
    color: #fff;
}

.list .item a {
    color: #fff;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

footer{
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
}

footer p{
    padding-top: 10px;
}